body{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0;
    width: 100%;
    position: relative;
    height: 100vh;
}

body, html {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}

#name {
    font-family: 'EB Garamond', serif;
    font-size: 60px;
    margin: 0;
}

#sub{
    font-size: 14px;
    margin-top: 5;

}

.thrandur {
    color: white;
    position: fixed;
    font-family: Helvetica, sans-serif;
    mix-blend-mode: difference;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.feed {
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.image {
    display: flex;
}

@media (max-width: 768px) {
    
    .feed {
        width: 100%;
        box-sizing: border-box;
    }

    .thrandur {
        margin-top: 40vh;
        top: auto;
        left: auto;
        transform: none;
    }
}