body{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0;
    width: 100%;
    position: relative;
    height: 100vh;
}

#name {
    font-family: 'EB Garamond', serif;
    font-size: 60px;
    margin: 0;
}

#sub{
    font-size: 14px;
    margin-top: 5;

}

.thrandur {
    color: white;
    position: fixed;
    font-family: Helvetica, sans-serif;
    mix-blend-mode: difference;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-overflow-scrolling: touch;
}


.feed {
    padding-top: 700px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.image {
    display: flex;
}

@media (max-width: 768px) {
    
    .feed {
        width: 100%;
        box-sizing: border-box;
    }
}